@import "reset.css";
@font-face {
    font-family: League Gothic Regular;
    src: local("League Gothic Regular"),
    url(../fonts/LeagueGothicCyrillic.otf);
}
@font-face {
    font-family: Open sans lite;
    src: local("Open sans lite"),
    url(../fonts/Open_sans_lite.ttf);
}
@font-face {
    font-family: Open sans extrabold;
    src: local("Open sans extrabold"),
    url(../fonts/OpenSans-ExtraBold.ttf);
}
body {
    font-family: League Gothic Regular;
}
.overflow {
    overflow: hidden;
}
.wrapper1 {
    width: 100%;
    height: 869px;
    background: url("../img/bg.jpg");
    background-position: center;
}
.container1 {
    width: 960px;
    margin: 0 auto;
}
.logo {
    padding: 68px 0 0 0;
    display: inline-block;
    font-size: 46px;
}
.logo--white {
    float: left;
    color: white;
    text-shadow: 1px 2px 2px rgba(150, 150, 150, 0.7);
}
.logo--purple {
    float: left;
    background:  linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(52,38,59,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.top_menu {
    height: 40px;
    display: inline-block;
    margin: 0 0 0 122px;
}
.top_menu ul li {
    height: 26px;
    float: left;
    color: white;
    text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
    font-size: 23px;
    margin-left: 52px;
}
.top_menu a:link {
    color: white;
    text-decoration: none;
}
.top_menu a:visited {
    color: white;
    text-decoration: none;
}
.top_menu li:hover {
    border-bottom: solid 2px #edbfff;
}
.container2 {
    width: 100%;
    height: 400px;
    margin-top: 162px;
    background-color: rgba(0, 0, 0, 0.2);
}
.slider {
    width: 960px;
    margin: 0 auto;
}
.slider__info {
    width: 500px;
    height: 400px;
    padding-top: 80px;
    float: left;
}
.slider__info--white {
    font-size: 43pt;
    color: white;
}
.slider__info--purple {
    font-size: 23pt;
    color: #edbfff;
}
.slider__info--lite {
    font-family: Open sans lite;
    font-size: 13pt;
    color: white;
    line-height: 24px;
    margin-top: 6px;
}
.slider__iphone {
    width: 274px;
    height: 434px;
    background: url("../img/iphone.png");
    background-position: 1px 1px;
    margin: -17px 73px 0 0;
    position: relative;
    float: right;
}
.slider__iphone::after {
    content: url("../img/play.png");
    position: absolute;
    cursor: pointer;
    top: 149px;
    left: 138px;
}
.wrapper2 {
    width: 100%;
    height: 340px;
    background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(51,38,59,1) 100%);
    margin-top: -23px;
}
.about {
    width: 960px;
    margin: 0 auto;
    padding: 78px 0 0 123px;
}
.about__1 {
    width: 250px;
    position: relative;
    float: left;
}
.about__2 {
    width: 250px;
    position: relative;
    float: left;
    margin-left: 89px;
}
.about__3 {
    width: 250px;
    position: relative;
    float: left;
    margin-left: 87px;
}
.h1 {
    color: white;
    font-size: 29px;
}
.text {
    color: white;
    font-family: Open sans lite;
    font-size: 17px;
    line-height: 24px;
    margin-top: 10px;
}
.more {
    color: white;
    font-size: 17px;
    text-align: right;
    padding: 20px 32px 0 0;
    cursor: pointer;
}
.about__1::before {
     content: '';
     width: 30px;
     height: 30px;
     background: url("../img/about.png");
     background-position: -60px 0;
     position: absolute;
     top: 5px;
     left: -53px;
}
.about__2::before {
    content: '';
    width: 30px;
    height: 30px;
    background: url("../img/about.png");
    background-position: -30px 0;
    position: absolute;
    top: 5px;
    left: -53px;
}
.about__3::before {
    content: '';
    width: 30px;
    height: 30px;
    background: url("../img/about.png");
    background-position: 0 0;
    position: absolute;
    top: 5px;
    left: -53px;
}
.news {
    width: 965px;
    margin: 0 auto;
}
.news__starts {
    width: 355px;
    margin: 132px 0 0 64px;
    position: relative;
    float: left;
}
.news__starts--h1_grey {
    font-size: 22pt;
    color: #454545;
}
.news__starts--h1_pink {
    font-size: 22pt;
    color: #edbfff;
}
.news__starts--text {
    font-family: "Open sans lite";
    font-size: 12pt;
    line-height: 24px;
    margin-top: 10px;
}
.news__starts::before {
    content: url("../img/starts.png");
    position: absolute;
    top: -12px;
    left: -63px;
}
.news__updates {
    width: 450px;
    float: left;
    margin: 132px 0 0 92px;
}
.news__updates--margin1, .news__updates--margin2, .news__updates--margin3 {
    margin: 20px 0 0 66px;
    position: relative;
}
.news__updates--h1 {
    font-size: 22pt;
    color: #454545;
}
.news__updates--bold {
    font-family: "Open sans extrabold";
}
.news__updates--normal {
    font-family: "Open sans lite";
    margin-top: 12px;
}
.news__updates--margin1::before {
    width: 50px;
    height: 50px;
    content: '';
    background: url("../img/updates.png");
    background-position: 0 0;
    position: absolute;
    top: -4px;
    left: -65px;
}
.news__updates--margin2::before {
    width: 50px;
    height: 50px;
    content: '';
    background: url("../img/updates.png");
    background-position: -50px 0;
    position: absolute;
    top: -4px;
    left: -65px;
}
.news__updates--margin3::before {
    width: 50px;
    height: 50px;
    content: '';
    background: url("../img/updates.png");
    background-position: -100px 0;
    position: absolute;
    top: -4px;
    left: -65px;
}
.news__updates--margin3::after {
    content: 'READ MORE HERE';
    font-size: 13pt;
    color: #454545;
    position: absolute;
    top: 71px;
    left: 281px;
    cursor: pointer;
}
.clearfix {
    clear: both;
}
.logos {
    height: 120px;
    margin: 133px 0 0 0;
    background: url("../img/logos.png");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #d8d8d8;
}
.wrapper5 {
    height: 400px;
    background: #ececec;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,1);
    z-index: 100;
}
.container5 {
    width: 965px;
    margin: 0 auto;
}
.text1 {
    width: 278px;
    height: 203px;
    background: url("../img/text1.png");
    background-repeat: no-repeat;
    float: left;
    margin: 101px 0 0 0px;
}
.text2 {
    width: 278px;
    height: 202px;
    background: url("../img/text2.png");
    background-repeat: no-repeat;
    float: left;
    margin: 101px 0 0 61px;
}
.text3 {
    width: 278px;
    height: 202px;
    background: url("../img/text3.png");
    background-repeat: no-repeat;
    float: left;
    margin: 101px 0 0 62px;
}
.wrapper6 {
    height: 114px;
    background: url("../img/bg_footer.jpg");
    background-position: center;
}
.container6 {
    width: 965px;
    margin: 0 auto;
}
.footer {
    height: 114px;
    line-height: 114px;
    display: inline-block;
    float: left;
}
.footer ul li {
    height: 26px;
    float: left;
    color: white;
    text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
    font-size: 15pt;
    padding: 0 43px 0 0;
}
.footer a:link {
    color: white;
    text-decoration: none;
}
.footer a:visited {
    color: white;
    text-decoration: none;
}
.copyrite {
    float: left;
    margin: 50px 0 0 247px;
    letter-spacing: -0.5px;
}
.copyrite--normal {
    color: white;
    font-family: "Open sans lite";
    font-size: 10pt;
}
.copyrite--bold {
    color: white;
    font-family: "Open sans extrabold";
    font-size: 10pt;
}